<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Default title {% end %}</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
    </script>
</head>
<body>
    <ul>
        {% for book in books  %}
            {% block book %}
            <li id="book_id">{{ book.id }}</li>
                <li>{{ escape(book.title) }}</li>
                <li>{{ escape(book.author) }}</li>
                <li>{{ escape(book.description) }}</li>
                <li>
                    <input id="sendto" type="email" placholder="Please Enter send email address" name="toemail"/>
                </li>
                  {% module xsrf_form_html() %}
                <li><button>推送</button</li>
            {% end %}
        {% end %}
    </ul>
</body>

<script>
    
function getCookie(name){
    var r = document.cookie.match("\\b" + name + "=([^;]*)\\b")
    return r ? r[1] : undefined
}

$("button").click(function(){
    _json = {};
    alert("Please Add 384711721@qq.com to allowed post list")
    var val_ = $("#book_id").text();
    var To = $("input").first().val();
    
    console.log(val_);
    _json["book_id"] = parseInt(val_);
    _json["to"] = To;

    // _xsrf 
    var xsrf = getCookie("_xsrf");

    // $.post("/book/send", _json, function(){
    //     alert("Send successfully!!!")
    // })

    $.ajax({
        url: "/book/send",
        method: "POST",
        headers: {
            "X-XSRFToken" : xsrf,
        },
        data : _json,
        success: function(data){
            alert(data);
            // console.log(data);
            // if (data['code'] == 100){
            //     alert(data['msg'])
            //     // window.reload();
            // } else{
            //     alert(data['msg']);
            // }
        }
    });
})
</script>
</html>
